<footer class='border-t-2 border-gray-400 py-8 flex justify-center md:justify-end'>
  <p class='md:mx-8 hidden md:block'>@ElianJoyoVillanueva</p>

  <div class='flex flex-col gap-4 text-lg md:flex-row'>
    <a
      href=''
      class='space-x-2'
      ><i class='fa-brands fa-linkedin-in'></i><span>LinkedIn</span></a
    >
    <a
      href=''
      class='space-x-2'
      ><i class='fa-brands fa-github'></i>
      <span> GitHub</span>
    </a>

    <a
      href=''
      class='space-x-2'>
      <i class='fa-brands fa-twitter'></i>
      <span> Twitter</span>
    </a>
  </div>
</footer>
